.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 20px 40px;
    margin-top: 30px;
  
    border-top: 1px solid #e5e7eb;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
  
    font-size: 14px;
    color: #64748b;
  }
  
  .footer-right {
    display: flex;
    gap: 20px;
  }
  
  .footer-right span {
    cursor: pointer;
    transition: 0.2s;
  }
  
  .footer-right span:hover {
    color: #4f46e5;
  }